main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

.page_switch {
    background-color: blueviolet;
    height: 50px;
    width: 100%;
}

.page_view {
    background-color: wheat;
    height: 100%;
    width: 100%;
}