* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #393e46;
    --blueGrey: #DBE2EF;
    --darkBlue: #112D4E;
    --eggShell: #F9F7F7;
    --lightBlack: #303841;
    --offWhite: #f9f3f3;
    --white: #eeeeee;    
}

body {
    background-color: var(--eggShell);
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}