.preview {
    display: flex;
    flex-direction: column;

    background-color: aquamarine;
    margin: 10px;
    height: auto;
    width: 100%;
}

.preview_main {
    display: flex;
    gap: 5px;

    height: auto;
    width: 100%;
}

.preview_main_left {
    display: flex;
    flex-direction: column;
    gap: 30px;

    height: auto;
    width: 100%;
}