.preview_header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--darkBlue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--white);
    font-size: 3.7vw;
    padding: 10px 8px;
    height: auto;
    width: 100%;
}