.preview {
    display: flex;
    flex-direction: column;

    background-color: var(--offWhite);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--black);
    margin: 10px;
    height: auto;
    width: 100%;
}

.preview_main {
    display: flex;

    height: 100%;
    width: 100%;
}

.preview_main_left {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 10px 8px;
    height: auto;
    width: 60%;
}

.preview_main_right {
    display: flex;
    flex-direction: column;

    background-color: var(--grey);
    height: auto;
    width: 40%;
}