.preview_employment {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 2.6vw;
    height: auto;
    width: 100%;
}

.employment_information {
    display: flex;
    gap: 10px;

    height: auto;
    width: 100%;
}